<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <system.web>
    </system.web>

    <connectionStrings>
        <add name="dotnet" 
             connectionString="Data Source=JACTXGW00071714\SQLEXPRESS;Initial Catalog=dotnet-site;User ID=harper;Password=harper;Integrated Security=True" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.net>
        <mailSettings>
            <smtp from="bwt.bluewebtech@gmail.com">
                <network host="localhost" 
                         port="487" 
                         defaultCredentials="false" />
            </smtp>
        </mailSettings>
    </system.net>

</configuration>