<!doctype html>
<html lang="en">
    <body>
        <h1>Contact Form Submission</h1>
        <p>
            Full Name: {fullName}
        </p>
        <p>
            Email: {email}
        </p>
        <p>
            Telephone: {telephone}
        </p>
        <p>
            Comments / Questions: {comments}
        </p>
    </body>
</html>
