{% extends "layouts.web" %}

<!doctype html>
<html lang="en">
    <head>
        <title>Contact Information : {firstName} {lastName}</title>
    </head>
    <body>
        <h1>Contact Information</h1>
        <p>
            Full Name: {firstName} {lastName}
        </p>
        <p>
            Email: {email}
        </p>
        <p>
            Telephone: {telephone}
        </p>
        <p>
            State: {state}
        </p>
        <p>
            Country: {country}
        </p>
    </body>
</html>
